<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Monitor {{info}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

    </div>

    <div class="row">
        <button ng-click="changeValue()">Update</button>
        <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit"
             precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">

        </div>

            <div class="span12">
                <table class="table table-striped table-bordered" ng-repeat="mc in machineCounters">

                    <thead>
                    <tr>
                        <th class="span9">{{mc.machine}} {{mc.counters[0].value | number:2}}%  - {{mc.dateTime}} </th>
                    </tr>
                    <tr>
                        <th class="span2">Counter</th>
                        <th class="span7">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ctr in mc.counters">
                        <td class="span2" ng-bind="ctr.counter"></td>
                        <td class="span7" ng-bind="ctr.value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>